* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #171a21;
    height: 6.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Motiva Sans Test', sans-serif;
}

.fundo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(35, 47, 59, 0.699)), url("../img/wallpaper-login.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.logo {
    height: 3.6vh;
}